<!DOCTYPE html>
<html>
	<head>
		<title>EventeX</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen" />	
	</head>
	<body>
	    <div id="headerwrapper">
		  <div id="esq"></div>
	      <div id="header">
	        <center>
	          <img id="logo" src="{{ STATIC_URL }}img/logo.png" alt="EventeX" />
	        </center>
	        <h1>Bem-vindo ao EventeX!</h1>
	      </div>
		  
	    </div>
		<div id="dir"></div>
	    <hr>
	    <div id="content">
	        <p>O evento mais sensacional do ano depois do Dev in Rio!</p>
	        <p>Você não pode perder esta oportunidade!</p>
	        <p><strong>Abertura das inscrições no próximo domingo.</strong></p>
	        <p>Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a></p>
	    </div>
	      <hr>
	      <div id="footer">
	        <p>&copy; 2014. 
				<a rel="license" href="http://eventex.herike.com">EventeX</a>, some rights reserved. 
				<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"></a>
				<a href="http://www.djangoproject.com/" id="django">Powered by Django</a>
			</p>
	    </div>
	</body>
</html>
